[Unit]
Description= Short URL
After=network.target

[Service]
User=crocodile
WorkingDirectory=/crocodile/apps/ShortRestAPI
ExecStart=/crocodile/apps/ShortRestAPI/cmd/shortener-for-url
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/crocodile/apps/ShortRestAPI/config.env

[Install]
WantedBy=multi-user.target