[Unit]
Description= Short URL
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/ShortRestAPI
ExecStart=/root/apps/ShortRestAPI/ShortRestAPI
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/ShortRestAPI/config.env

[Install]
WantedBy=multi-user.target